body {
            margin: 0;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .navbar {
            position: fixed;
            display: flex;
            top: -1px;
            justify-content: space-between;
            align-items: center;
            padding: 16px 26px;
            background-color: whitesmoke;
            border-bottom: 1px solid lightgray;
            max-height: 800px;
            z-index: 100;
            width: 96%;
            margin: 0px;
        }
        .menu, .right-menu {
            display: flex;
            gap: 20px;
            align-items: center;
        }
        .menu a, .right-menu a {
            text-decoration: none;
            color: #000;
        }
        .logo {
            font-size: 22px;
            font-weight: bold;
        }
        .dropdown {
            position: relative;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            min-width: 180px;
            z-index: 1;
        }
        .dropdown-content a {
            display: block;
            padding: 10px 16px;
            color: lightgray;
        }
        .dropdown-content a:hover {
            background-color: #eee;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }